<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2c95395281.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Klee+One&family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/grid.css">
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="stylesheet" href="./styles/footer.css">
    <link rel="stylesheet" href="./styles/products.css">
    <script src="./JS/product.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js" integrity="sha512-XdUZ5nrNkVySQBnnM5vzDqHai823Spoq1W3pJoQwomQja+o4Nw0Ew1ppxo5bhF2vMug6sfibhKWcNJsG8Vj9tg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Bread&Butter烘焙坊 | 商品專區</title>
</head>
<body>
    <div id="app">
         <!-- header區域 -->
    <input type="checkbox" id="menu_control">
    <header>
        <h1 class="logo">
            <a href="./index.html">
                <img src="./picture/logo/logo02.png" alt="Bread&Butter">
            </a>
        </h1>

        <!-- 漢堡 -->
        <label for="menu_control" class="menu_btn">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <nav>
            <ul class="first-nav">
                <li><a href="./news.html">最新消息</a></li>
                <li>
                    <a href="./products.html" class="checkable">商品專區</a>
                    <input type="checkbox" id="check_list">
                    <label for="check_list" class="list_btn"></label>
                    <ul class="second-nav">
                        <li><a href="./products.html">麵包系列</a></li>
                        <li><a href="./products.html">蛋糕系列</a></li>
                        <li><a href="./products.html">手工餅乾</a></li>
                    </ul>
                </li>
                <li><a href="./about.html">關於我們</a></li>
                <li><a href="./contact.html">聯絡我們</a></li>
            </ul>
            <div class="nav-icon">
                <a href="./login.html"><i class="fas fa-user"></i></a>
                <a href="./shopcart.html">
                    <i class="fas fa-shopping-cart"></i>
                    <div class="shopcart-alert" v-if="showNum">{{itemCount}}</div>
                </a>
            </div>
        </nav>
    </header>

    <!-- 開頭背景圖 -->
    <div class="head-banner">
        <img src="./picture/banner/banner3.jpg" alt="banner">
    </div>

    <!-- 商品專區頁面 -->
    <div class="add-alert" v-if="cartAlert">
        <p><span>{{cartAlertName}}</span> 已經加入購物車囉!</p>
        <button @click="cartAlert = false">確認</button>
    </div>
    <main class="products-page">
        <div class="top-title">
            <h2>商品專區</h2>
             <div class="breadcrumb">
                <ol>
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="#">商品專區</a></li>
                </ol>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <!-- 分類選單 -->
                <div class="col-12 col-md-3">
                    <aside class="product-sort">
                        <h3>商品分類</h3>
                        <ul class="first-sort">
                            <li><h4>麵包系列</h4>
                                <ul class="second-sort">
                                     <li><a href="#" @click.prevent="showItem = '麵包總覽'">麵包總覽</a></li>
                                     <li><a href="#" @click.prevent="showItem = '法式麵包'">法式麵包</a></li>
                                     <li><a href="#" @click.prevent="showItem = '歐式麵包'">歐式麵包</a></li>
                                     <li><a href="#" @click.prevent="showItem = '丹麥可頌'">丹麥可頌</a></li>
                                </ul>
                            </li>
                            <li><h4>蛋糕系列</h4>
                                <ul class="second-sort">
                                    <li><a href="#" @click.prevent="showItem = '蛋糕總覽'">蛋糕總覽</a></li>
                                    <li><a href="#" @click.prevent="showItem = '圓形蛋糕'">圓形蛋糕</a></li>
                                    <li><a href="#" @click.prevent="showItem = '長條蛋糕'">長條蛋糕</a></li>
                                    <li><a href="#" @click.prevent="showItem = '切片蛋糕'">切片蛋糕</a></li>
                               </ul>
                            </li>
                            <li><h4>手工餅乾</h4>
                                <ul class="second-sort">
                                    <li><a href="#" @click.prevent="showItem = '餅乾總覽'">餅乾總覽</a></li>
                               </ul>
                            </li>
                            <li><h4>全部商品</h4>
                                <ul class="second-sort">
                                     <li><a href="#" @click.prevent="showItem = '全部'">商品總覽</a></li>
                                </ul>
                            </li>
                        </ul>
                    </aside>
                </div>  
                <!-- 商品區 -->
                <div class="col-12 col-md-9">
                    <ul class="row">
                        <li class="product-card col-12 col-xs-6 col-md-4"
                        v-for="(item,index) in filter"
                        :key="item.name"
                        >
                            <div class="product-item">
                                <div v-if="item.hotSale == true" class="hot-tag">HOT !
                                    <div class="angle"></div>
                                </div>
                                <div class="pic">
                                    <img :src="item.img[0]" :alt="item.name">
                                    <div class="product-btn">
                                        <a  class="detail" :href="`./product-content.html?id=${item.id}`">
                                            <i class="fas fa-search"></i>
                                        </a>
                                        <a class="shopping-cart" href="#" @click.prevent="addCart(item.id,index,item.name)">
                                            <i class="fas fa-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="txt">
                                    <h3>{{item.name}}</h3>
                                    <p class="price">NT${{item.price}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <!-- footer區域 -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="footer-list">
                        <ul>
                            <li><a href="./news.html">最新消息</a></li>
                            <li><a href="./products.html">商品專區</a></li>
                            <li><a href="./about.html">關於我們</a></li>
                            <li><a href="./contact.html">聯絡我們</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-4 ">
                    <div class="footer-logo">
                        <img src="./picture/logo/logo.png" alt="logo">
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="footer-info">
                        <div class="address">台北市中山區南京東路三段219號</div>
                        <div class="service-time">營業時間   10:00~20:00  周一公休</div>
                        <div class="tel">
                            <i class="fas fa-phone-alt"></i>
                            <span>02-27120589</span>
                        </div>
                        <div class="email">
                            <i class="fas fa-envelope"></i>
                            <p>breadnbutter@gmail.com</p>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>copy&reg;by TedYang<br>此網站僅供練習使用</p>
        </div>       
    </footer>
    </div>
   
    <script>
            Vue.config.devtools = true ;
            new Vue({
            el: '#app',
            data: {  
                showItem:"全部",
                products:null,
                shopCartList:[],
                itemCount:"",
                cartAlert:false,
                cartAlertName:"",
            },
            methods: {
                addCart(id,idx,name){
                    let index = this.shopCartList.findIndex(item=> item.id == id);
                    console.log(index);
                    if(index == -1){
                        this.shopCartList.push(this.filter[idx]);
                        localStorage.setItem("shopCartList", JSON.stringify(this.shopCartList));
                    }else{
                        this.cartAlert = true;
                        this.cartAlertName = name;
                    }
                }


            },

            computed:{
                filter(){
                    if(this.showItem == "全部"){
                        return this.products;
                    }else if(this.showItem == "麵包總覽"){
                        let arr = this.products.filter(item=> item.category == "麵包");
                        return arr;
                    }else if(this.showItem == "法式麵包"){
                        let arr = this.products.filter(item=> item.category2 == "法式麵包");
                        return arr;
                    }else if(this.showItem == "歐式麵包"){
                        let arr = this.products.filter(item=> item.category2 == "歐式麵包");
                        return arr;
                    }else if(this.showItem == "丹麥可頌"){
                        let arr = this.products.filter(item=> item.category2 == "丹麥可頌");
                        return arr;
                    }else if(this.showItem == "蛋糕總覽"){
                        let arr = this.products.filter(item=> item.category == "蛋糕");
                        return arr;
                    }else if(this.showItem == "圓形蛋糕"){
                        let arr = this.products.filter(item=> item.category2 == "圓形蛋糕");
                        return arr;
                    }else if(this.showItem == "長條蛋糕"){
                        let arr = this.products.filter(item=> item.category2 == "長條蛋糕");
                        return arr;
                    }else if(this.showItem == "切片蛋糕"){
                        let arr = this.products.filter(item=> item.category2 == "切片蛋糕");
                        return arr;
                    }else if(this.showItem == "餅乾總覽"){
                        let arr = this.products.filter(item=> item.category == "餅乾");
                        return arr;
                    }
                },
                showNum(){
                    this.itemCount = this.shopCartList.length;
                    if(this.itemCout == 0){
                        return false;
                    }else{
                        return true;
                    }
                },
            },

            mounted() {
                axios.get("./products.json")
                .then((res)=>{
                    this.products = res.data;
                    this.products.forEach(item => item.count = 1);
                    console.log(this.products);
                }).catch((err)=>{
                    console.log(err);
                })
                
                let storage =  JSON.parse(localStorage.getItem("shopCartList"));
                    if(storage==null){
                        this.shopCartList = [];
                        this.itemCount = 0;
                    }else{
                        this.shopCartList = storage;
                        this.itemCount = this.shopCartList.length;
                    }
                },
        });
    </script>
</body>
</html>