<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2c95395281.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Klee+One&family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/grid.css">
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="stylesheet" href="./styles/footer.css">
    <link rel="stylesheet" href="./styles/product-content.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js" integrity="sha512-pSyYzOKCLD2xoGM1GwkeHbdXgMRVsSqQaaUoHskx/HF09POwvow2VfVEdARIYwdeFLbu+2FCOTRYuiyeGxXkEg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./JS/product-content.js"></script>
    <title>Bread&Butter烘焙坊 | 商品內容</title>
</head>
<body>
    <div id="app" v-if="currentItem.id">
    <!-- header區域 -->
        <input type="checkbox" id="menu_control">
        <header>
            <h1 class="logo">
                <a href="./index.html">
                    <img src="./picture/logo/logo02.png" alt="Bread&Butter">
                </a>
            </h1>

            <!-- 漢堡 -->
            <label for="menu_control" class="menu_btn">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <nav>
                <ul class="first-nav">
                    <li><a href="./news.html">最新消息</a></li>
                    <li>
                        <a href="./products.html" class="checkable">商品專區</a>
                        <input type="checkbox" id="check_list">
                        <label for="check_list" class="list_btn"></label>
                        <ul class="second-nav">
                            <li><a href="./products.html">麵包系列</a></li>
                            <li><a href="./products.html">蛋糕系列</a></li>
                            <li><a href="./products.html">手工餅乾</a></li>
                        </ul>
                    </li>
                    <li><a href="./about.html">關於我們</a></li>
                    <li><a href="./contact.html">聯絡我們</a></li>
                </ul>
                <div class="nav-icon">
                    <a href="./login.html"><i class="fas fa-user"></i></a>
                    <a href="./shopcart.html">
                        <i class="fas fa-shopping-cart"></i>
                        <div class="shopcart-alert" v-if="showNum">{{itemCount}}</div>
                    </a>
                </div>
            </nav>
        </header>

        <!-- 開頭背景圖 -->
        <div class="head-banner">
            <img src="./picture/banner/banner2.jpg" alt="banner">
        </div>
        <!-- 商品內容主要頁面 -->
        <main class="product-content-page">         
            <div class="breadcrumb">
                <ol>
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="./products.html">商品專區</a></li>
                    <li><a href="#">{{currentItem.category2}}</a></li>
                </ol>
            </div>
            <section class="product-content">
                <div class="container">
                    <div class="row">
                        <div class="product-pic col-12 col-sm-5">
                            <div class="main-pic">
                                <img  id="large" :src="currentItem.img[0]" :alt="currentItem.name">
                            </div>
                            <div class="pic-switch">
                                <div class="switch-pic" v-for="(pic,index) in currentItem.img">
                                    <img :src="pic" :alt="currentItem.name">
                                </div>
                            </div>
                        </div>
                        <div class="product-info col-12 col-sm-7">
                            <div class="product-detail">
                                <h3>{{currentItem.name}}</h3>
                                <p>{{currentItem.vegan?"素食":"非素食"}}</p>
                                <p>成分:{{currentItem.ingredient}}</p>
                                <p>保存期限:{{currentItem.preserve}}</p>
                                <p>商品介紹:{{currentItem.content}}</p>
                                <button class="nutrition-btn">營養標示</button>
                                <div class="nutrition">
                                    <div class="nutrition-content">
                                        <img :src="currentItem.nutrition" alt="營養標示">
                                        <button class="close-nutrition">關閉</button>
                                    </div>
                                </div>
                                <p class="price">NT${{currentItem.price}}</p>
                            </div>
                            <div class="buy-box">
                                <div class="counter">
                                    <p>數量</p>
                                    <div class="counter-bar">
                                        <button class="minus-btn" @click="minusItem">-</button>
                                        <input type="txt" :value="buyNum">
                                        <button class="plus-btn" @click="plusItem">+</button>
                                    </div>
                                </div>
                                <button class="buybtn" @click="addShopCart"><i class="fas fa-shopping-cart"></i>加入購物車</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- 相關產品 -->
        <section class="relative">
            <div class="title-container">
                <h3>相關商品</h3>
            </div>
            <div class="container">
                <ul class="row">
                    <li class="product-card col-12 col-xs-6 col-md-3" v-for="(item,index) in relativeItem" :key="item.name">
                        <div class="product-item">
                            <div v-if="item.hotSale == true" class="hot-tag">HOT !
                                <div class="angle"></div>
                            </div>
                            <div class="pic">
                                <img :src="item.img[0]" :alt="item.name">
                                <div class="product-btn">
                                    <a  class="detail" :href="`./product-content.html?id=${item.id}`">
                                        <i class="fas fa-search"></i>
                                    </a>
                                    <a class="shopping-cart" href="#">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="txt">
                                <h3>{{item.name}}</h3>
                                <p class="price">NT${{item.price}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <div class ="buy-alert" v-if="buyAlert">
            <p>此商品已加入購物車，請問是否要更改數量?</p>
            <div class=" btn-zone">
                <button @click="noChangeNum">否</button>
                <button @click="changNum">是</button>
            </div>
        </div>

        <!-- footer區域 -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="footer-list">
                            <ul>
                                <li><a href="./news.html">最新消息</a></li>
                                <li><a href="./products.html">商品專區</a></li>
                                <li><a href="./about.html">關於我們</a></li>
                                <li><a href="./contact.html">聯絡我們</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 ">
                        <div class="footer-logo">
                            <img src="./picture/logo/logo.png" alt="logo">
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="footer-info">
                            <div class="address">台北市中山區南京東路三段219號</div>
                            <div class="service-time">營業時間   10:00~20:00  周一公休</div>
                            <div class="tel">
                                <i class="fas fa-phone-alt"></i>
                                <span>02-27120589</span>
                            </div>
                            <div class="email">
                                <i class="fas fa-envelope"></i>
                                <p>breadnbutter@gmail.com</p>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>copy&reg;by TedYang<br>此網站僅供練習使用</p>
            </div>       
        </footer>
    </div>
    <script>
        Vue.config.devtools = true;
        new Vue({
        el: '#app',
        data: {  
            currentItem:{},
            products:[],  
            buyNum: 1,
            shopCartList:[],
            buyAlert: false,
            itemCount:"",
        },
        
        computed:{
            relativeItem(){
                let arr = this.products.filter(item => item.category2 === this.currentItem.category2 && item.id != this.currentItem.id);
                let arr2 = [];
                if(arr.length >= 4){
                    for(let i=0; i < 4; i++){
                    arr2.push(arr[i]);
                    }
                }else{
                    for(let i = 0; i < arr.length; i++){
                    arr2.push(arr[i]);
                    }
                }
                return arr2;
            },

            showNum(){
                this.itemCount = this.shopCartList.length;
                if(this.itemCout == 0){
                    return false;
                }else{
                    return true;
                }
            },


        },

        methods: {
            getData(Id){
                axios.get("./products.json")
                .then((res)=>{
                    this.products = res.data;
                    for(let i = 0; i<res.data.length;i++){
                        if(res.data[i].id == Id){
                            this.currentItem = res.data[i];
                            this.currentItem = Object.assign({}, this.currentItem, {count: 1});
                        }
                    }
                }).catch((err)=>{
                    console.log(err);
                })
            },

            plusItem(){
                this.buyNum ++;
                this.currentItem.count++;
            },

            minusItem(){
                if(this.buyNum == 1){
                    this.buyNum = 1;
                    this.currentItem.count = 1;
                }else{
                    this.buyNum --;
                    this.currentItem.count --;
                }
            },

            addShopCart(){
                let index = this.shopCartList.findIndex(item=> item.id == this.currentItem.id);
                if(index == -1){
                    this.shopCartList.push(this.currentItem);
                    localStorage.setItem("shopCartList", JSON.stringify(this.shopCartList));
                    this.buyNum = 1;
                    this.currentItem.count = 1;
                    this.showNum;
                }else{
                    this.buyAlert = true;
                }
            },

            changNum(){
                let index = this.shopCartList.findIndex(item=> item.id == this.currentItem.id);
                this.shopCartList[index].count = this.currentItem.count;
                localStorage.setItem("shopCartList", JSON.stringify(this.shopCartList));
                this.buyAlert= false;
                this.buyNum = 1;
                this.currentItem.count = 1;
            },

            noChangeNum(){
                this.buyAlert = false;
                this.buyNum = 1;
                this.currentItem.count = 1;
            },
        },
        mounted() {
            let Id=location.search.slice(1).split("=")[1];
            // this.currentItem = this.products[(Id-1)];
            this.getData(Id);

            let storage =  JSON.parse(localStorage.getItem("shopCartList"));
            if(storage==null){
                this.shopCartList = [];
                this.itemCount = 0;
            }else{
                this.shopCartList = storage;
                this.itemCount = this.shopCartList.length;
            }
        },
       
    });
    </script>
</body>
</html>