/* 開頭背景圖 */
.head-banner {
  width: 100%;
}

.head-banner img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  vertical-align: middle;
}

/*關於我們頁面 */
.top-title {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

h2 {
  background-color: rgb(101, 80, 70);
  color: white;
  display: inline-block;
  font-size: 48px;
  padding: 20px 50px;
  position: absolute;
  top: -44px;
}

.breadcrumb {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.breadcrumb ol {
  display: flex;
  justify-content: flex-end;
}

.breadcrumb li {
  padding: 0 5px;
}

.breadcrumb a {
  text-decoration: none;
  color: rgb(101, 80, 70);
  font-size: 20px;
  font-weight: 600;
}

.breadcrumb li + li::before {
  content: ">";
  font-size: 20px;
  color: rgb(101, 80, 70);
  margin-right: 10px;
}

.breadcrumb li:last-child a {
  color: rgb(185, 142, 81);
}

/* 店家理念 */
.concept {
  max-width: 1200px;
  margin: auto;
}

.concept h3 {
  font-size: 40px;
  color: rgb(185, 142, 81);
  font-weight: 600;
  text-align: center;
  padding: 80px 0 20px 0;
}

.concept .wrap {
  display: flex;
  align-items: center;
  padding: 30px 0 80px 0;
}

.concept .pic {
  width: 60%;
  position: relative;
  right: -50px;
  transform: rotate(-3deg);
}

.concept .pic img {
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.concept .txt {
  width: 50%;
  background-color: rgb(240, 235, 234);
  padding: 40px;
  box-sizing: border-box;
  position: relative;
  left: -100px;
  bottom: -150px;
  transition: transform 0.5s;
}

.concept .txt p {
  color: rgb(101, 80, 70);
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
}

/* 店家特色  */
.feature {
  max-width: 1000px;
  margin: 0 auto 80px;
}

.feature h3 {
  font-size: 40px;
  color: rgb(185, 142, 81);
  font-weight: 600;
  margin: 50px 0 80px 0;
  text-align: center;
  position: relative;
}

.Kraftpaper {
  width: 100%;
  background-image: url(../picture/background/牛皮紙.jpg);
  /* position: relative; */
}

.feature-group {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 60px 0;
}

.feature-group:nth-child(even) {
  /* direction: rtl; */
  flex-direction: row-reverse;
}

.feature-group:nth-child(odd) .feature-title {
  writing-mode: vertical-lr;
  font-size: 48px;
  font-weight: 600;
  position: relative;
  left: 150px;
  color: rgb(101, 80, 70);
}

.feature-group:nth-child(even) .feature-title {
  writing-mode: vertical-lr;
  font-size: 48px;
  font-weight: 600;
  position: relative;
  right: 150px;
  color: rgb(101, 80, 70);
}

.feature-group:nth-child(odd) .feature-content {
  right: -300px;
}

.feature-group:nth-child(even) .feature-content {
  left: -300px;
}

.feature-title span {
  writing-mode: horizontal-tb;
  padding: 0 0 0 10px;
}

.feature-content {
  width: 120%;
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 55% 45% 60% 40% / 52% 61% 39% 48%;
}

.feature-content img {
  width: 100%;
  height: 100%;
  border-radius: 55% 45% 60% 40% / 52% 61% 39% 48%;
  object-fit: cover;
}

.feature-txt {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 55% 45% 60% 40% / 52% 61% 39% 48%;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  transition: all 0.5s 0.5s;
}

.feature-txt-even {
  transform: translate(-150%, -50%);
}

.feature-content:hover .feature-txt {
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.feature-txt p {
  width: 60%;
  margin: auto;
  font-size: 24px;
  color: white;
  /* text-align: center; */
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.5s;
  line-height: 1.3;
}

.feature-content:hover .feature-txt p {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.5s 0.5s;
}
