* {
  margin: 0;
  padding: 0;
}

:root {
  --col-gap: 15px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 var(--col-gap);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--col-gap) * -1);
  margin-right: calc(var(--col-gap) * -1);
}

[class*="col-"],
.col {
  box-sizing: border-box;
  padding: 0 var(--col-gap);
  margin-bottom: calc(var(--col-gap) * 2);
  margin-top: calc(var(--col-gap) * 2);
}
.col-1 {
  /* width: 8.333333%; */
  flex: 0 0 8.333333%;
}
.col-2 {
  /* width: 16.666666%; */
  flex: 0 0 16.666666%;
}
.col-3 {
  /* width: 25%; */
  flex: 0 0 25%;
}
.col-4 {
  /* width: 33.333333%; */
  flex: 0 0 33.333333%;
}
.col-5 {
  /* width: 41.666666%; */
  flex: 0 0 41.666666%;
}
.col-6 {
  /* width: 50%; */
  flex: 0 0 50%;
}
.col-7 {
  /* width: 58.333333%; */
  flex: 0 0 58.333333%;
}
.col-8 {
  /* width: 66.666666%; */
  flex: 0 0 66.666666%;
}
.col-9 {
  /* width: 75%; */
  flex: 0 0 75%;
}
.col-10 {
  /* width: 83.333333%; */
  flex: 0 0 83.333333%;
}
.col-11 {
  /* width: 91.666666%; */
  flex: 0 0 91.666666%;
}
.col-12 {
  /* width: 100%; */
  flex: 0 0 100%;
}

@media screen and (min-width: 376px) {
  .col-xs-1 {
    /* width: 8.333333%; */
    flex: 0 0 8.333333%;
  }
  .col-xs-2 {
    /* width: 16.666666%; */
    flex: 0 0 16.666666%;
  }
  .col-xs-3 {
    /* width: 25%; */
    flex: 0 0 25%;
  }
  .col-xs-4 {
    /* width: 33.333333%; */
    flex: 0 0 33.333333%;
  }
  .col-xs-5 {
    /* width: 41.666666%; */
    flex: 0 0 41.666666%;
  }
  .col-xs-6 {
    /* width: 50%; */
    flex: 0 0 50%;
  }
  .col-xs-7 {
    /* width: 58.333333%; */
    flex: 0 0 58.333333%;
  }
  .col-xs-8 {
    /* width: 66.666666%; */
    flex: 0 0 66.666666%;
  }
  .col-xs-9 {
    /* width: 75%; */
    flex: 0 0 75%;
  }
  .col-xs-10 {
    /* width: 83.333333%; */
    flex: 0 0 83.333333%;
  }
  .col-xs-11 {
    /* width: 91.666666%; */
    flex: 0 0 91.666666%;
  }
  .col-xs-12 {
    /* width: 100%; */
    flex: 0 0 100%;
  }
}

@media screen and (min-width: 576px) {
  .col-sm-1 {
    /* width: 8.333333%; */
    flex: 0 0 8.333333%;
  }
  .col-sm-2 {
    /* width: 16.666666%; */
    flex: 0 0 16.666666%;
  }
  .col-sm-3 {
    /* width: 25%; */
    flex: 0 0 25%;
  }
  .col-sm-4 {
    /* width: 33.333333%; */
    flex: 0 0 33.333333%;
  }
  .col-sm-5 {
    /* width: 41.666666%; */
    flex: 0 0 41.666666%;
  }
  .col-sm-6 {
    /* width: 50%; */
    flex: 0 0 50%;
  }
  .col-sm-7 {
    /* width: 58.333333%; */
    flex: 0 0 58.333333%;
  }
  .col-sm-8 {
    /* width: 66.666666%; */
    flex: 0 0 66.666666%;
  }
  .col-sm-9 {
    /* width: 75%; */
    flex: 0 0 75%;
  }
  .col-sm-10 {
    /* width: 83.333333%; */
    flex: 0 0 83.333333%;
  }
  .col-sm-11 {
    /* width: 91.666666%; */
    flex: 0 0 91.666666%;
  }
  .col-sm-12 {
    /* width: 100%; */
    flex: 0 0 100%;
  }
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    /* width: 8.333333%; */
    flex: 0 0 8.333333%;
  }
  .col-md-2 {
    /* width: 16.666666%; */
    flex: 0 0 16.666666%;
  }
  .col-md-3 {
    /* width: 25%; */
    flex: 0 0 25%;
  }
  .col-md-4 {
    /* width: 33.333333%; */
    flex: 0 0 33.333333%;
  }
  .col-md-5 {
    /* width: 41.666666%; */
    flex: 0 0 41.666666%;
  }
  .col-md-6 {
    /* width: 50%; */
    flex: 0 0 50%;
  }
  .col-md-7 {
    /* width: 58.333333%; */
    flex: 0 0 58.333333%;
  }
  .col-md-8 {
    /* width: 66.666666%; */
    flex: 0 0 66.666666%;
  }
  .col-md-9 {
    /* width: 75%; */
    flex: 0 0 75%;
  }
  .col-md-10 {
    /* width: 83.333333%; */
    flex: 0 0 83.333333%;
  }
  .col-md-11 {
    /* width: 91.666666%; */
    flex: 0 0 91.666666%;
  }
  .col-md-12 {
    /* width: 100%; */
    flex: 0 0 100%;
  }
}

@media screen and (min-width: 1024px) {
  .col-lg-1 {
    /* width: 8.333333%; */
    flex: 0 0 8.333333%;
  }
  .col-lg-2 {
    /* width: 16.666666%; */
    flex: 0 0 16.666666%;
  }
  .col-lg-3 {
    /* width: 25%; */
    flex: 0 0 25%;
  }
  .col-lg-4 {
    /* width: 33.333333%; */
    flex: 0 0 33.333333%;
  }
  .col-lg-5 {
    /* width: 41.666666%; */
    flex: 0 0 41.666666%;
  }
  .col-lg-6 {
    /* width: 50%; */
    flex: 0 0 50%;
  }
  .col-lg-7 {
    /* width: 58.333333%; */
    flex: 0 0 58.333333%;
  }
  .col-lg-8 {
    /* width: 66.666666%; */
    flex: 0 0 66.666666%;
  }
  .col-lg-9 {
    /* width: 75%; */
    flex: 0 0 75%;
  }
  .col-lg-10 {
    /* width: 83.333333%; */
    flex: 0 0 83.333333%;
  }
  .col-lg-11 {
    /* width: 91.666666%; */
    flex: 0 0 91.666666%;
  }
  .col-lg-12 {
    /* width: 100%; */
    flex: 0 0 100%;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-1 {
    /* width: 8.333333%; */
    flex: 0 0 8.333333%;
  }
  .col-xl-2 {
    /* width: 16.666666%; */
    flex: 0 0 16.666666%;
  }
  .col-xl-3 {
    /* width: 25%; */
    flex: 0 0 25%;
  }
  .col-xl-4 {
    /* width: 33.333333%; */
    flex: 0 0 33.333333%;
  }
  .col-xl-5 {
    /* width: 41.666666%; */
    flex: 0 0 41.666666%;
  }
  .col-xl-6 {
    /* width: 50%; */
    flex: 0 0 50%;
  }
  .col-xl-7 {
    /* width: 58.333333%; */
    flex: 0 0 58.333333%;
  }
  .col-xl-8 {
    /* width: 66.666666%; */
    flex: 0 0 66.666666%;
  }
  .col-xl-9 {
    /* width: 75%; */
    flex: 0 0 75%;
  }
  .col-xl-10 {
    /* width: 83.333333%; */
    flex: 0 0 83.333333%;
  }
  .col-xl-11 {
    /* width: 91.666666%; */
    flex: 0 0 91.666666%;
  }
  .col-xl-12 {
    /* width: 100%; */
    flex: 0 0 100%;
  }
}
