/* * {
  outline: 1px solid red;
} */

.hot-product h2 {
}

.hot-product .wrap {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.hot-product div.basket {
  padding-top: 400px;
  width: 50%;
  margin: auto;
  z-index: 5;
}

.hot-product div.basket img {
  width: 100%;
  vertical-align: bottom;
}

.hot-product .item {
  bottom: 0;
  position: absolute;
  width: 30%;
  z-index: -1;
}

.hot-product .item img {
  width: 100%;
  vertical-align: middle;
}

.hot-product .item1 {
  bottom: 30px;
  right: 20%;
  transition: transform 1s;
}

.hot-product .item2 {
  bottom: 50px;
  left: 25%;
  z-index: -3;
  transition: transform 1s;
}

.hot-product .item3 {
  bottom: 50px;
  left: 38%;
  z-index: -2;
  transition: transform 1s;
}

.hot-product .txt {
  font-size: 36px;
  font-weight: 600;
  position: absolute;
}

.hot-product .txt h3 {
  padding: 10px 0;
}

.hot-product .txt a {
  text-decoration: none;
  color: rgb(240, 156, 56);
}

.hot-product .txt span {
  font-size: 20px;
  color: rgb(101, 80, 70);
  display: block;
  text-align: right;
  opacity: 0;
  transition: all 1s;
}

.hot-product .txt:hover > span {
  opacity: 1;
  transition: all 0.5s 0.3s;
}

.hot-product .txt1 {
  top: 30%;
  right: 3%;
}

.hot-product .txt2 {
  top: 20%;
  left: 1%;
  position: absolute;
}

.hot-product .txt3 {
  top: 5%;
  left: 45%;
}

.hot-product .txt1:hover ~ .item1 {
  transform: translate(50px, -150px);
  z-index: -1;
}

.hot-product .txt2:hover ~ .item2 {
  transform: translate(-40px, -130px);
  z-index: -1;
}

.hot-product .txt3:hover ~ .item3 {
  transform: translate(0, -160px);
  z-index: -1;
}
