/* 會員登入頁面 */
.login-page {
  background-image: url(../picture/background/login.png);
  background-size: cover;
}

.wrap {
  max-width: 1200px;
  height: 60vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.login-slogan {
  width: 60%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-slogan p {
  font-size: 2vmin;
  font-weight: 600;
  color: white;
  background-color: rgb(102, 142, 104);
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}

.login-slogan p::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid rgb(102, 142, 104);
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  bottom: -40px;
  left: 50%;
  transform: translate(-50%, 0);
}

.people {
  width: 250px;
}

.people img {
  width: 100%;
}

.login-area {
  width: calc(40% - 60px);
  padding: 0 30px;
  background-color: rgb(240, 235, 234);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-area h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  color: rgb(185, 142, 81);
  margin-bottom: 40px;
}

.login-group {
  margin-bottom: 10px;
}

.login-group label {
  font-size: 24px;
  color: rgb(101, 80, 70);
}

.login-group input {
  width: calc(100% - 10px);
  font-size: 28px;
  padding: 0 5px;
  border: none;
  border-bottom: 1px solid rgb(101, 80, 70);
  background-color: rgb(240, 235, 234);
  outline: none;
}

.other-box {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.other-box a {
  text-decoration: none;
  vertical-align: baseline;
  color: rgb(101, 80, 70);
}

.other-box a:hover {
  color: rgb(185, 142, 81);
}

.line {
  width: 0;
  height: 16px;
  border-right: 1px solid rgb(101, 80, 70);
  margin: 0 10px;
}

.login-btn {
  width: 50%;
  border: none;
  background-color: rgb(185, 142, 81);
  color: white;
  font-size: 28px;
  padding: 2px;
  margin: 30px auto 0 auto;
}

.login-btn:hover {
  background-color: rgb(101, 80, 70);
}
