/* 開頭背景圖 */
.head-banner {
  width: 100%;
}

.head-banner img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  vertical-align: middle;
}

/* 商品專區頁面 */
.top-title {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

h2 {
  background-color: rgb(101, 80, 70);
  color: white;
  display: inline-block;
  font-size: 48px;
  padding: 20px 50px;
  position: absolute;
  top: -44px;
}

.breadcrumb {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.breadcrumb ol {
  display: flex;
  justify-content: flex-end;
}

.breadcrumb li {
  padding: 0 5px;
}

.breadcrumb a {
  text-decoration: none;
  color: rgb(101, 80, 70);
  font-size: 20px;
  font-weight: 600;
}

.breadcrumb li + li::before {
  content: ">";
  font-size: 20px;
  color: rgb(101, 80, 70);
  margin-right: 10px;
}

.breadcrumb li:last-child a {
  color: rgb(185, 142, 81);
}

.products-page .container {
  margin: 80px auto;
}

/* 分類選單 */
.product-sort {
  margin-top: 30px;
  background-color: rgb(240, 235, 234);
  position: sticky;
  top: 18vh;
}

.product-sort h3 {
  font-size: 28px;
  background-color: rgb(101, 80, 70);
  color: white;
  padding: 10px;
}

.product-sort li {
  position: relative;
}

.product-sort a {
  text-decoration: none;
  color: rgb(101, 80, 70);
  display: block;
  padding: 10px;
}

.product-sort li:hover .second-sort {
  display: block;
}

.product-sort li:hover > a {
  background-color: rgb(185, 142, 81);
  color: white;
}

.product-sort li + li a::before {
  content: " ";
  position: absolute;
  border-top: 1px solid rgb(101, 80, 70);
  top: 0;
  left: 10px;
  right: 10px;
}

.second-sort {
  display: none;
}

/* 商品區 */
.product-card {
  display: flex;
  flex-direction: column;
}

.product-item {
  border: 1px solid rgb(185, 142, 81);
  transition: transform 0.5s;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.product-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.product-item:hover .product-btn {
  opacity: 1;
}

.hot-tag {
  width: 70px;
  background-color: rgb(240, 156, 56);
  padding: 10px;
  text-align: center;
  color: white;
  position: absolute;
  top: 5px;
  left: -10px;
  z-index: 2;
}

.hot-tag .angle {
  height: 0;
  width: 0;
  border-top: 9px solid rgb(200, 120, 37);
  border-left: 9px solid transparent;
  position: absolute;
  left: 0;
  bottom: -9px;
}

.product-item .pic {
  width: 100%;
  position: relative;
}

.product-item .pic img {
  width: 100%;
}

.product-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.detail,
.shopping-cart:hover {
  cursor: pointer;
}

.detail {
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
}

.detail:hover {
  border-color: rgb(185, 142, 81);
  background-color: rgb(185, 142, 81);
}

.detail:hover i {
  color: white;
}

.detail a i {
  font-size: 30px;
  color: white;
}

.shopping-cart {
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
}

.shopping-cart:hover {
  border-color: rgb(185, 142, 81);
  background-color: rgb(185, 142, 81);
}

.shopping-cart:hover i {
  color: white;
}

.shopping-cart a i {
  font-size: 30px;
  color: white;
}

.product-item .txt {
  background-color: rgb(240, 235, 234);
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product-item .txt h3 {
  color: rgb(185, 142, 81);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  flex-grow: 1;
}

.product-item .txt .price {
  color: rgb(101, 80, 70);
  font-size: 20px;
  text-align: end;
}
