/* 開頭背景圖 */
.head-banner {
  width: 100%;
}

.head-banner img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  vertical-align: middle;
}

/* 商品內容主要頁面 */
.product-content-page {
  max-width: 1200px;
  margin: auto;
}

.breadcrumb {
  width: 100%;
  padding: 50px 0 0 0;
  box-sizing: border-box;
}

.breadcrumb ol {
  display: flex;
  justify-content: flex-end;
}

.breadcrumb li {
  padding: 0 5px;
}

.breadcrumb a {
  text-decoration: none;
  color: rgb(101, 80, 70);
  font-size: 20px;
  font-weight: 600;
}

.breadcrumb li + li::before {
  content: ">";
  font-size: 20px;
  color: rgb(101, 80, 70);
  margin-right: 10px;
}

.breadcrumb li:last-child a {
  color: rgb(185, 142, 81);
}

.product-content-page {
  margin: 0 auto 100px auto;
}

.product-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

/* .product-pic {
  width: calc(50% - 80px);
  padding: 0 40px;
} */

.main-pic {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid rgb(185, 142, 81);
  margin-bottom: 20px;
}

.main-pic img {
  width: 100%;
  vertical-align: bottom;
}

.pic-switch {
  display: flex;
  width: 100%;
}

.switch-pic {
  width: calc(25% - 10px);
  box-sizing: border-box;
  margin-right: 10px;
  border: 2px solid rgb(185, 142, 81);
  cursor: pointer;
}

.switch-pic img {
  width: 100%;
  vertical-align: bottom;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-info h3 {
  font-size: 36px;
  font-weight: 600;
  color: rgb(185, 142, 81);
  margin-bottom: 30px;
}

.product-detail p {
  font-size: 20px;
  color: rgb(101, 80, 70);
  margin-bottom: 20px;
  line-height: 1.5;
  letter-spacing: 1px;
}

.nutrition-btn {
  font-size: 20px;
  padding: 1px 5px;
  border-radius: 5px;
  color: rgb(101, 80, 70);
  background-color: white;
  border: 1px solid rgb(101, 80, 70);
  margin-bottom: 20px;
  cursor: pointer;
}

.nutrition-btn:hover {
  background-color: rgb(102, 142, 104);
  border: 1px solid rgb(102, 142, 104);
  color: white;
}

.nutrition {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
  overflow: scroll;
  display: none;
}

.nutrition-content {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 600px;
  height: 472px;
}

.nutrition-content img {
  width: 100%;
  vertical-align: bottom;
}

.close-nutrition {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  padding: 3px 10px;
  font-size: 18px;
  background-color: rgb(102, 142, 104);
  color: white;
  border: none;
}

.product-detail .price {
  font-size: 32px;
  font-weight: 600;
  color: rgb(185, 142, 81);
  text-align: right;
  margin-bottom: 30px;
}

.buy-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.counter {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.counter > p {
  font-size: 20px;
  color: rgb(101, 80, 70);
  margin-right: 20px;
}

.counter-bar {
  display: flex;
  align-items: center;
}

.counter-bar button {
  font-size: 20px;
  padding: 0 15px;
  border: none;
  vertical-align: middle;
  background-color: rgb(102, 142, 104);
  color: white;
  cursor: pointer;
}

.counter-bar button:hover {
  background-color: rgb(101, 80, 70);
}

button.minus-btn {
  border-radius: 8px 0 0 8px;
}

button.plus-btn {
  border-radius: 0 8px 8px 0;
}

.counter-bar input {
  width: 60px;
  text-align: center;
  font-size: 20px;
  border: none;
  background-color: rgb(240, 235, 234);
  color: rgb(101, 80, 70);
  outline: none;
}

button.buybtn {
  font-size: 20px;
  background-color: rgb(102, 142, 104);
  border: none;
  color: white;
  padding: 2px 25px;
  cursor: pointer;
  margin: 50px auto 0;
}

button.buybtn:hover {
  background-color: rgb(101, 80, 70);
}

/* 相關商品 */
.relative {
  max-width: 1200px;
  margin: 0 auto 50px;
}

.relative > h3 {
  color: rgb(185, 142, 81);
  padding: 20px;
  font-family: "Klee One", cursive;
  font-size: 42px;
  font-weight: 600;
  text-align: center;
  border-bottom: 2px solid rgb(185, 142, 81);
}

.product-card {
  display: flex;
  flex-direction: column;
}

.product-item {
  border: 1px solid rgb(185, 142, 81);
  transition: transform 0.5s;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.product-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.product-item:hover .product-btn {
  opacity: 1;
}

.hot-tag {
  width: 70px;
  background-color: rgb(240, 156, 56);
  padding: 10px;
  text-align: center;
  color: white;
  position: absolute;
  top: 5px;
  left: -10px;
  z-index: 2;
}

.hot-tag .angle {
  height: 0;
  width: 0;
  border-top: 9px solid rgb(200, 120, 37);
  border-left: 9px solid transparent;
  position: absolute;
  left: 0;
  bottom: -9px;
}

.product-item .pic {
  width: 100%;
  position: relative;
}

.product-item .pic img {
  width: 100%;
}

.product-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.detail,
.shopping-cart:hover {
  cursor: pointer;
}

.detail {
  display: block;
  text-decoration: none;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
}

.detail:hover {
  border-color: rgb(102, 142, 104);
  background-color: rgb(102, 142, 104);
}

.detail:hover i {
  color: white;
}

.detail i {
  font-size: 30px;
  color: white;
}

.shopping-cart {
  display: block;
  text-decoration: none;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
}

.shopping-cart:hover {
  border-color: rgb(102, 142, 104);
  background-color: rgb(102, 142, 104);
}

.shopping-cart:hover i {
  color: white;
}

.shopping-cart i {
  font-size: 30px;
  color: white;
}

.product-item .txt {
  background-color: rgb(240, 235, 234);
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product-item .txt h3 {
  color: rgb(185, 142, 81);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  flex-grow: 1;
}

.product-item .txt .price {
  color: rgb(101, 80, 70);
  font-size: 20px;
  text-align: end;
}

@media screen and (max-width: 1200px) {
  .counter-bar button:hover {
    background-color: rgb(102, 142, 104);
  }

  button.buybtn:hover {
    background-color: rgb(102, 142, 104);
  }

  /* 相關商品 */
  .products-page .container {
    margin: 30px auto;
  }

  .product-item:hover {
    transform: translateY(0px);
    box-shadow: 0 0 0 0 transparent;
  }

  .product-item .pic {
    position: static;
  }

  .product-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 30px;
    opacity: 1;
  }

  .detail {
    padding: 5px 0;
    width: 45%;
    border: 1px solid rgb(102, 142, 104);
    border-radius: 5px;
    text-align: center;
  }

  .detail:hover {
    border-color: rgb(102, 142, 104);
    background-color: transparent;
  }

  .detail:hover i {
    color: rgb(102, 142, 104);
  }

  .detail i {
    font-size: 20px;
    color: rgb(102, 142, 104);
  }

  .shopping-cart {
    padding: 5px 0;
    width: 45%;
    border: 1px solid rgb(102, 142, 104);
    border-radius: 5px;
    text-align: center;
    background-color: rgb(102, 142, 104);
  }

  .shopping-cart i {
    font-size: 20px;
    color: white;
  }

  .shopping-cart:hover {
    border-color: rgb(102, 142, 104);
    background-color: rgb(102, 142, 104);
  }

  .shopping-cart:hover i {
    color: white;
  }

  .shopping-cart i {
    font-size: 20px;
    color: white;
  }
}
